@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  background-color: var(--backgroundColor) !important;
  color: var(--textColor) !important;
  min-height: 100vh !important;
}

.fw-sbold {
  font-weight: 600 !important;
}
.themeClr {
  color: #76fc93 !important;
}
.dropdown .dropdown-toggle:after {
  display: none;
}
input.form-check {
  accent-color: #6c6b6b;
}
.form-check-input:focus {
  box-shadow: unset;
  border-color: #ddd;
}
textarea {
  resize: none;
}

input.file {
  top: 0;
  left: 0;
  z-index: 9;
  cursor: pointer;
  opacity: 0;
}

.iconWithText .icn.position-absolute {
  top: 50%;
  transform: translateY(-50%);
}

.gap-10 {
  gap: 10px;
}
.commonBtn {
  background-color: #76fc93 !important;
  border: 2px solid #76fc93 !important;
  height: 40px !important;
  font-weight: 600;
  font-size: 13px !important;
  min-width: 130px;
  color: #0d1017 !important;
}
.commonBtn.borderedBtn {
  background-color: transparent !important;
  color: #76fc93 !important;
}
.commonBtn:hover,
.commonBtn.GreyBtn:hover {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #fff !important;
}
.greenStatus {
  border-color: #00b69b;
  color: #00b69b;
  background-color: #d5ffeb;
}
.redStatus {
  background: #ffd3d3;
  color: #fd5454;
  border-color: #fd5454;
}
button.slick-arrow.slick-prev {
  left: -10px;
}
button.slick-arrow.slick-next {
  right: -10px;
}
.slick-prev:before,
.slick-next:before {
  color: var(--textColor);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  svg {
    fill: white;
  }
}

h1,
h2,
h3 {
  margin-top: 40px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  border: none;
  background: #00e673;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 0;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}

button:disabled {
  background: #ccc;
  color: #666;
}

/* css */
