header.siteHeader {
  button {
    font-size: 12px;
    height: 40px;
  }
  .profileDrpdown {
    .profileLink {
      font-size: 12px;
      line-height: 14px;
    }
    .menu {
      right: 0;
      left: unset;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
